* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Google Sans", sans-serif;
  /* line-height: 1.5; */
  background-color: #121212;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

h1 {
  font-size: 2rem;
  color: #fff;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
}

header {
  background-color: #000;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.8)), url("images/header-bg.jpg");
  background-size: cover;
  padding: 4.5em 2.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
}

header a:hover,
header a:focus {
  text-decoration: underline;
  color: #fce405;
}

main {
  padding: 0 2.5em;
  display: grid;
  grid-template-rows: 1fr;
  position: relative;
}

form {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("images/search-icon.svg");
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 1em;
  padding-left: 2.8em;
  background-color: #2e2e2f;
  display: flex;
  border-radius: 0.5em;
}

form input {
  border: 0;
  background-color: #2e2e2f;
  font-size: 0.9em;
  flex: 1;
  color: #a5a5a5;
  padding-right: 1em;
}

form input:focus {
  outline: none;
}

form:focus-within {
  border: 1px solid #d5d5d5;
}

form input::placeholder {
  color: #a5a5a5;
}

form button {
  font-size: 0.9em;
  background-color: #4b4b4b;
  border: 0;
  color: #fff;
  padding: 0.9em 2.1em;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  cursor: pointer;
  transition: all 0.2s ease;
}

form button:hover,
form button:focus {
  outline: none;
  background-color: #fce405;
  color: #000;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.result-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-section span {
  color: #2e2e2f;
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 0.5em;
}
